*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  line-height: 1.6;
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}

main > section {
  /* Сверху: от 96px (моб) до 160px (ПК). */
  padding-top: clamp(6rem, 10vh, 10rem);

  /* Снизу: от 64px до 128px */
  padding-bottom: clamp(4rem, 8vh, 8rem);

  /* По бокам */
  padding-left: 2rem;
  padding-right: 2rem;

  /* Центровка */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

header.hero-section {
  padding-top: 0;
}
